.container {
  display: flex;
  margin: 100px auto;

  .tabs {
    border-right: 1px solid #cecece;
  }

  div[id^=vertical-tabpanel] {
    width: 70%;
    margin: 0 auto;
  }
  
  #start-date, #end-date{
    margin: 50px;
  };
}