.container{
    display: flex;
    // width: 80%;
    margin: 100px auto;

    .tabs{
        border-right: 1px solid #cecece;
    }

    div[id^=vertical-tabpanel]{
        width: 50%;
        margin: 0 auto;
    }
}