@import "../../assets/css/bootstrap.min.css";
@import "../../assets/scss/paper-kit";

.navbar.navbar-transparent {
    padding-top: 0;
    background-color: white !important;
}

.footer{
	width:100%
}