@import "../../assets/css/bootstrap.min.css";
@import "../../assets/scss/paper-kit";

.navbar.navbar-transparent {
    padding-top: 0;
    background-color: white !important;
}

.footer{
	width:100%
}

.margin-offer{
    margin-left: 399px;
}

.offer-text, .offer-icon{
	font-size: 20px;
	font-weight: 300;
}