@import "../../scss/variables";

.register-container {
  .login-container {
    margin: 200px auto 0 auto;
    width: 50%;
  }

  h1{
    margin-bottom: 25px;
  }

  .paper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error {
    color: red;
  }

  .submit-btn {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .MuiFormLabel-root{
    margin-bottom: 6px;
  }
}
