$white-color: #ffffff;
$primary-color: #560a4e;
$green-lighten-color: #aaf1d1;
$green-lightener-color: #ebfbf4;
$green-darken-color: #4aa494;
$violet-lighten-color: #c15e8d;
$muted-color: #bdacbc;
$violet-darken-color: #bdacbc;
$violet-darkener-color: #270a25;
$black-lighten-color: #504451;
$black-muted-color: #7b7f7e;
$orange-lighten-color: #7b7f7e;
