.rtl {
  text-align: right;
}

body {
  background-color: white !important;
}

button[type="submit"]{
  background-color: #e44463;
  color: white;
}

button[type="submit"]:hover{
  background-color: #e44463;
  color: white;
}
